# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*.cmake
fp-info-cache

# Build directory
build/
build_old/
build_new/
pioasm/
CMakeFiles/
elf2uf2/

# Cortex-Debug extension debug artifacts
.vscode/.cortex*

# FatFS documentation
ff14b/documents

# VSCode
.vscode/settings.json
.vscode/c_cpp_properties.json

# Clion
/.idea
/cmake-build-debug